:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: Yellow: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--neutral-gray);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
